<svg   viewBox="0 00 360 90" style = "  bottom: 0;
right: 0;
position: fixed;">
  <!-- BED -->
  <g *ngFor="let bed of beds; index as i">
    <!-- type of beds -->
    <g  [ngSwitch] = "bed.type">
      <!-- basic -->
      <g *ngSwitchCase = "'basic'">
        <rect [attr.id]="bed.id+'_bed'" [attr.x]="bed.x_svg" [attr.y]="bed.y_svg" width="18" height="10" style="fill:green;stroke:white;stroke-width:0.1"/>
      </g>
      <!-- other -->
      <g *ngSwitchCase = "">
        <rect [attr.x]="bed.x_svg" [attr.y]="bed.y_svg" width="18" height="10" style="fill:green;stroke:white;stroke-width:0.1"/>
      </g>
    </g>
  </g>
</svg>
