
<app-bed #bedInstance ></app-bed>
<app-room #roomInstance></app-room>
<div> <button >plan</button>
</div>
<svg [attr.viewBox]="viewBox">
  <rect x="0" y="0" width="100%" height="100%" style=" stroke-width:1;stroke:rgb(20,0,0)" />
  <!-- ROOM -->
  <g *ngFor="let room of rooms; index as i">
      <!-- type of rooms -->
      <g [ngSwitch] = "room.type">
        <!-- with patients -->
        <g  *ngSwitchCase = "'forPatient'">
          <polygon [attr.id]="room.id+'_room'" data-mode = "editRoom" [appRoomsEv]= "roomInstance" [attr.points]="room.polygon" style="fill:red;stroke:white;stroke-width:0.1"/>
          <text [appPosition] ="{polygon: room.polygon, type:'centerBetweenFirstLastPoint'}" font-size="0.2em" fill="white">{{room.name}}</text>
        </g>
        <!-- other -->
        <g *ngSwitchCase = "">
          <polygon data-mode = "editRoom" [appRoomsEv]= "roomInstance" [attr.points]="room.polygon" style="fill:red;stroke:white;stroke-width:0.1"/>
          <!-- <text [appPosition] ="{polygon: room.polygon, type:'centerBetweenFirstLastPoint'}" font-size="0.2em" fill="white"></text> -->
        </g>
      </g>
    </g>
    <!-- BED -->
    <g *ngFor="let bed of beds; index as i">
      <!-- type of beds -->
      <g  [ngSwitch] = "bed.type">
        <!-- basic -->
        <g *ngSwitchCase = "'basic'"  >
          <polygon  [appInnerBed] = "{bed, draw:'walking'}"  style="fill:rgb(53, 63, 27);stroke:rgb(156, 92, 92);stroke-width:0.1"/>
          <polygon  [appInnerBed] = "{bed, draw:'sex'}"  style="fill:rgb(154, 194, 45);stroke:rgb(156, 92, 92);stroke-width:0.1"/>
          <polygon  [appBedsEv] = "bedInstance" [attr.id] = "bed.id+'_bed'" [attr.points] = "bed.polygon" opacity="0.3" style=" fill:green;stroke:white;stroke-width:0.1"/>
        </g>
        <!-- other -->
        <!-- <g *ngSwitchCase = "">
          <rect  transform = "rotate(-45 100 100)" [appBedsEv] = "bedInstance" [attr.x]="bed.x_svg" [attr.y]="bed.y_svg" width="18" height="10" style="fill:green;stroke:white;stroke-width:0.1"/>
        </g> -->
      </g>
    </g>
</svg>

